@import "./reset.scss";
@import "./components/search-list";
@import "./components/book-info";
@import "./components/read-list";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


.app-holder {
    height: 100%;  
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

button {

}

.container {
    width: 1442px;
    margin: 0 auto;
    height: 100%;
}
.app-block {
    display: flex;
    height: 100%;
    //flex-wrap: wrap;
}