.book-info-block {
    flex: 1 1 auto;
    position:sticky;
}

.book-info {
    padding: 5px 0px;
    border: 1px solid grey;
}

.selected-book-title {
    font-size: 36px;
line-height: 42px;
}

.selected-book-subtitle {
    font-size: 18px;
line-height: 21px;
color: #ABABAB;
margin-bottom: 37px;
}

.toread-list-btn {
margin-top: 30px;
font-size: 24px;
line-height: 28px;
border: none;
background-color: #fff;
color: #0000FF;
}

