.book-info-block {
    flex: 1 1 100%;
}

.book-info {
    padding: 5px 0px;
    border: 1px solid grey;
}

.prev-btn-hide {
    display: none;
}

.prev-btn-show {
    display: "";
}
.next-btn-hide {
    display: none;
}
.next-btn-show {
    display: "";
}