.to-read-block {
   flex: 0 0 390px;
   min-width: 390px;
}

.read-list-header {
  background-color: rgb(223, 223, 188);
  //height: 96px; //заменить потом паддингами
  font-size: 36px;
  line-height: 42px;
  padding-top: 21px;
  padding-left: 24px;
  position: sticky;
  top: 0;
}

.read-list-item {
  font-size: 24px;
line-height: 28px;  
  border: 1px solid grey;
  
  padding:24px 0px 23px 24px;
}

.mark-as-read {
  color: green;
}

.books-count {
  font-size: 12px;
  line-height: 21px;
  padding-bottom: 13px;
  color: grey;
}
.read-book-info {
  font-weight: normal;
  font-size: 24px;
line-height: 28px;
}
.read-book-subtitle {
  font-size: 18px;
line-height: 21px;
color: #ABABAB;
}

.read-list-btn {
  font-size: 18px;
line-height: 21px;
background-color: #fff;
border: none;
color: #0000FF;

}

