.search-block {
    flex: 0 0 394px;
   // min-width: 390px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    //overflow-x: visible;
}

.search-block::-webkit-scrollbar {
    background-color: transparent;
    //width: 8px;
  }
  
  //.search-block::-webkit-scrollbar-thumb {
  //  background-color: #dfe1e5;;
  //  border-radius: 5px;
  //}
  

.search-input {
    font-size: 24px;
    margin-right: 19px;
    width: 223px;
   // padding: 5px;
}

.go-button {
    width: 95px;
    color: #FFFFFF;
    background-color: rgb(58, 66, 52);
    line-height: 39px;
}

.search-block-header {
    background-color: rgb(223, 223, 188);
  padding: 30px 2px 30px 30px;
  box-sizing:border-box;
  //width: 390px;
  font-size: 24px;
  margin: 0 auto;
  position:sticky;
  top: 0;
  flex: 0 0 auto;
}

.search-block-result {    
    
    flex: 1 0 auto;
    width: 100%;
}

.select-book {
    background-color: grey;
    font-weight: 900;
}

.search-block-footer {
    background-color: rgb(223, 223, 188);
    position:sticky;
    bottom: 0;
    font-size: 12px;
    flex: 0 0 auto;
    padding: 10px 0px 14px 24px;
}

.search-block-footer-info {
    margin-bottom: 5px;
}

.prev-btn-hide {
    display: none;
}

.prev-btn-show {
    display: "";
    border: none;
background-color: rgb(223, 223, 188);;
color: #0000FF;
margin-right: 18px;

}
.next-btn-hide {
    display: none;
}
.next-btn-show {
    display: "";
    border: none;
background-color: rgb(223, 223, 188);;
color: #0000FF;

}